/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2018, 1:40:54 PM
    Author     : User
*/
body{
    color:black;
}

#divlegume {
    float:left;    
}

#divviande {
    float:right;    
}

#divlait {
    float:left;    
}

#divbakery {
    float:right;
}
